body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}   

.row {
    margin: 0;
} 

.container {
    padding: 70px 0;
}

p, li {
    color: #444;
    font-size: 14px;
}

/*nav-menu*/

header, .navbar {
    background-color: #353D41;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;    
}

#logo {
    width: 70px;
    margin-left: 10px;
}

.navbar-brand {
    padding: 0;
    color: #fff;
}

.navbar-brand:hover {
    color: #fff;
}

#navbar-links a {
    color: #fff;
}

.navbar-nav a {
    padding: 1rem .8rem;
    text-decoration: none;
}

.navbar-toggler {
    background: #fff;
    border: solid #fff;
    margin-right: 10px;
}

/*Slide--------------------*/

.container-fluid {
    padding: 0;
}

.carousel-caption {
    margin-bottom: 20px;
}

.carousel-caption > p, a {
    color: #fff;
    text-decoration: none;
}

.main-btn {
    text-transform: uppercase;
    background-color: #65DAF5;
    padding: 7px 20px;
    border: 3px solid transparent;
    border-radius: 30px;
    transition: .5s;

}

.main-btn:hover {
    color: #fff;
    background-color: transparent;
    border-color: #65DAF5;
}
/*Sobre a agência----------------*/
#sobre {
    background-color: #f9f9f9;
}

ul {
    list-style: none;
}

ul i{
    color: #65DAF5;
    margin-right: 20px;
}

.main-title {
    color: #444;
    text-align: center;
    margin: 65px 0px;
    font-size: 40px;
}

#linha {
    border-top: 3px solid #333 ;
    width: 15%;
    text-align: center;
    position: absolute;
    left: 42.5%;
    transform: translateY(-40px);
    color: transparent;
    content: "";
}

.about-title {
    color: #444;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

